<%= form_with(model: festival, local: true) do |form| %>
  <% if festival.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(festival.errors.count, "error") %> prohibited this festival from being saved:</h2>

      <ul>
        <% festival.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
      <div class="row">
        <div class="field row input-field col m6">
          <%= form.label 'Festival name' %>
          <%= form.text_field :name %>
        </div>
      </div>
      <div class="row">
        <div class="input col m3">
          <%= form.label 'Start date' %>
          <%= form.date_field :startDate %>
        </div>
        <div class="datepicker-calendar-container col m3">
          <%= form.label 'End date' %>
          <%= form.date_field :endDate %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col m6">
          <%= form.label :stage %>
          <%= form.text_field :stage %>
        </div>
      </div>
      <div class="file-field input-field">
        <%= form.label :imgSrc %>
        <%= form.text_field :imgSrc %>
      </div>
    <div class="card-image">
      <img src="https://www.programturizmus.hu/media/image/big/ajanlat/kultura/koncert-zene/popzene/29/7592-nagyon-zene-fesztival.jpg">
    </div>
  </div>

  <div class="center">
    <%= link_to "Cancel", festival_bases_path, class: "waves-effect btn-large background transparent", style: "color: #5a5a5a" %>
    <div class="waves-effect waves-light btn-large"><%= form.submit "Next" %></div>
  </div>
<% end %>
