<nav>
  <div class="nav-wrapper">
    <div class="col s12">
      <%= link_to "Festivals", festivals_path, class: "breadcrumb" %>
      <a class="breadcrumb" href=""><%= @festival.name %></a>
    </div>
  </div>
</nav>

<div class="center">
  <%= image_tag @festival.imgSrc, :style => "height: 200px; margin-top: 20px" %>
</div>

<div class="center"><b><%= @festival.stage %></b>

  <table class="striped">
    <thead>
    <tr class="td">
      <% @days.each do |day| %>
        <th><%= l day.date, format: :date %></th>
      <% end %>
    </tr>
    </thead>

    <tbody>

    <% @days.each do |day| %>
      <tr style="display: table-cell">
        <% @shows.each do |show| %>
          <% if show.date.to_i == day.date.to_i %>
            <td style="display: block"><%= "#{show.performer} #{show.time}" %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>

    </tbody>
  </table>

  <div class="center">
    <%= link_to "Edit", edit_festival_path, class: "waves-effect waves-light btn-large" %>

    <%= link_to festivals_path do %>
      <%= image_tag "https://icons-for-free.com/iconfiles/png/512/delete+remove+trash+trash+bin+trash+can+icon-1320073117929397588.png", :style => "height: 50px; margin-top: 25px; padding-top: 20px; margin-left: 20px" %>
    <% end %>
  </div>
</div>