<div class="top-left-margin">
  <%= link_to "Back", edit_festival_basis_path, class: "waves-effect waves-light btn-large row m2" %>
</div>
<div class="row col m6" style="margin-left: 25px"><b><%= @festival.stage %></b>
  <%= form_with(model: @show) do |form| %>
    <% @days.each do |day| %>
      <div class="row">
        <div class="input col m2">
          <p><%= l day.date, format: :date %></p>
        </div>
      </div>
      <%# (0..2).each do |_| %>
      <div class="row">
        <div class="input-field col m2">
          <div>Performer</div>
          <%= form.text_field :performer, multiple: true %>
        </div>
        <div class="input-field col m2">
          <div>Time</div>
          <%= form.text_field :time, multiple: true, maxlength: 6, size: 6 %>
        </div>
      </div>
      <%# end %>
    <% end %>

    <div class="center">
      <%= link_to "Cancel", festival_bases_path, class: "waves-effect btn-large background transparent", style: "color: #5a5a5a" %>
      <div class="waves-effect waves-light btn-large"><%= form.submit "Add festival" %></div>
    </div>
  <% end %>
</div>
