<!DOCTYPE html>
<html lang="en">
<head>
  <title>FestiGuide</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'materialize', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div id="page">
  <div id="body">
    <nav>
      <div id="menu" class="nav-wrapper">
        <%= link_to "FestiGuide", festivals_index_path, class: "left brand-logo" %>
        <ul class="right hide-on-small-and-down">
          <li class="active"><%= link_to "Festivals", festivals_index_path %></li>
          <li><%= link_to "Add new festival", festivals_index_path %></li>
        </ul>
      </div>
    </nav>

    <div id="main">
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
